.footer {
    background: linear-gradient(135deg, #0f111a, #1c1f30);
    color: #f0f0f0;
    padding: 50px 60px 20px 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.footer-column h4 {
    color: #ffb400;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-column a {
    display: block;
    color: #f0f0f0;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.3s;
}

.footer-column a:hover {
    color: #00bcd4;
    transform: translateX(5px);
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    /* justify-content: center; */
    align-items: center;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.3s;
}

.social-icons a svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.social-icons a:hover {
    background-color: #ffb400;
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 13px;
    color: #aaa;
}
.footer-bottom p:hover {
    color: #ffb400;
}
@media screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}